---
layout: default
---

<div class="home mb-3">
    <div class="jumbotron text-center">
        <h1 class="display-4">TLH</h1>
        <p class="lead">Développement de votre trafic du Web à la boutique</p>
        <hr class="my-4">
        <p>Nous sommes une agence française de développement web et un éditeur de sites internet internationaux.</p>
    </div>

    <div class="w1000p center grid">
        <div class="row bulles">
            <div class="col-sm-4 text-center">
                <img src="assets/img/bulle001.jpg" alt="">
                <h3 class="text-center">Diffusez votre Enseigne / Magasin</h3>
                <p class="center text-justify">
                    En vous inscrivant, vous bénéficiez immédiatement de votre espace de gestion pour renseigner ou modifier les informations que vous souhaitez. (horaires, photo, description...)
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <img src="assets/img/bulle002.jpg" alt="">
                <h3 class="text-center">Trafic du web à la boutique...</h3>
                <p class="center text-justify">
                    En mettant en valeur votre enseigne ou commerce, convertissez nos visiteurs en vos clients.
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <img src="assets/img/bulle003.jpg" alt="">
                <h3 class="text-center">...en France et international</h3>
                <p class="center text-justify">
                    Que vous soyez présent en Europe ou en Amérique, grâce à nos propres sites, nous suivons partout tout dans le monde.
                </p>
            </div>
        </div>
    </div>
    
  {{ content }}

  <section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Notre portfolio</h2>
                <p class="section-subheading text-muted">Mieux nous connaître en quelques projets.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="{{ "projets/edition-horaires-commerces/" | relative_url }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/portfolio/horaires-commerces.jpg" class="img-thumbnail" alt="Horaires-Commerces.fr">
                </a>
                <div class="portfolio-caption">
                    <h4 class="mt-1">Horaires-Commerces.fr</h4>
                    <p class="text-muted">Portail des horaires d'ouverture des commerces français</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="{{ "projets/edition-openornot/" | relative_url }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/portfolio/openornot.jpg" class="img-thumbnail" alt="openornot.com">
                </a>
                <div class="portfolio-caption">
                    <h4 class="mt-1">openornot.com</h4>
                    <p class="text-muted">Annuaire international des horaires d'ouverture</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/portfolio/box-vysistore.png" class="img-thumbnail" alt="Horaires-Drive.fr">
                </a>
                <div class="portfolio-caption">
                    <h4 class="mt-1">Horaires-Drive.fr</h4>
                    <p class="text-muted">Information sur les drives et leurs horaires en France</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/portfolio/openornot-ios.png" class="img-thumbnail" alt="open or not iPhone">
                </a>
                <div class="portfolio-caption">
                    <h4 class="mt-1">open or not iOS / iPhone</h4>
                    <p class="text-muted">Application mobile native du site open or not pour iPhone</p>
                </div>
            </div>
            <!-- <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/portfolio/box-vysistore.png" class="img-thumbnail" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4 class="mt-1">Vysistore</h4>
                    <p class="text-muted">Offre web-to-store pour les commerçants et les enseignes</p>
                </div>
            </div> -->
        </div>
    </div>
  </section>
  <!--
  <h1 class="page-heading">Posts</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

    <div class="mt-3 card bg-light">
        <div class="card-body">
            <h4 class="card-title">Parole d'expert</h4>
            <p>«Le web-to-store est un concept relativement récent qui permet aux commerçants de s'appuyer sur la puissance d'Internet pour se faire connaître et augmenter leur trafic en boutique.»</p>

            <p>«Il désigne le comportement d'achat au cours duquel le consommateur recherche de l'information sur la toile avant de se rendre en boutique pour faire son achat.»</p>
        </div>
    </div>

</div>
