---
layout: default
---

<div class="home mb-3">

  {{ content }}

  <section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <h3 class="section-subheading text-muted">Mieux nous connaître en quelques projets.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="{{ "projets/edition-horaires-commerces/" | relative_url }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/portfolio/horaires-commerces.jpg" class="img-responsive" alt="Horaires-Commerces.fr">
                </a>
                <div class="portfolio-caption">
                    <h4>Horaires-Commerces.fr</h4>
                    <p class="text-muted">Portail des horaires d'ouverture des commerces français</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="{{ "projets/edition-openornot/" | relative_url }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/portfolio/openornot.jpg" class="img-responsive" alt="openornot.com">
                </a>
                <div class="portfolio-caption">
                    <h4>openornot.com</h4>
                    <p class="text-muted">Annuaire international des horaires d'ouverture</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/portfolio/box-vysistore.png" class="img-responsive" alt="Horaires-Drive.fr">
                </a>
                <div class="portfolio-caption">
                    <h4>Horaires-Drive.fr</h4>
                    <p class="text-muted">Information sur les drives et leurs horaires en France</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/portfolio/openornot-ios.png" class="img-responsive" alt="open or not iPhone">
                </a>
                <div class="portfolio-caption">
                    <h4>open or not iOS / iPhone</h4>
                    <p class="text-muted">Application mobile native du site open or not pour iPhone</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/portfolio/box-vysistore.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Vysistore</h4>
                    <p class="text-muted">Offre web-to-store pour les commerçants et les enseignes</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--
  <h1 class="page-heading">Posts</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

    <div class="card text-white bg-info">
        <div class="card-body">
            <h4 class="card-title">Parole d'expert</h4>
            <p>«Le web-to-store est un concept relativement récent qui permet aux commerçants de s'appuyer sur la puissance d'Internet pour se faire connaître et augmenter leur trafic en boutique.»</p>

            <p>«Il désigne le comportement d'achat au cours duquel le consommateur recherche de l'information sur la toile avant de se rendre en boutique pour faire son achat.»</p>
        </div>
    </div>

</div>
